<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="General C# rules" ToolsVersion="16.0">
  <Include Path="tools\lombiq.analyzers\general.ruleset" Action="Default" />
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S134" Action="None" />
    <Rule Id="S3776" Action="None" />
  </Rules>
</RuleSet>